
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../../static/files/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../static/files/css/homestyle.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
  <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css
' rel='stylesheet' type='text/css'>

  </head>
  <body>
<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
                      
          
            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
              
                <ul class="nav">
                <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
              </ul>
               
                <ul class="nav hidden-xs" id="lg-menu">
                    <li ><a href="/home"><i class="fa fa-home"></i>&nbspHome</a></li>
                    <li><a href="/discover"><i class="fa fa-line-chart"></i> &nbsp&nbspDiscover </a></li>
                    <li><a href="/myposts"><i class="fa fa-user"></i> &nbspMy Posts </a></li>
                </ul>
              
            </div>
            <!-- /sidebar -->
          
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                
                <!-- top nav -->
                <div class="navbar navbar-blue navbar-static-top">  
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">W</a>
                    </div>
                    <nav class="collapse navbar-collapse" role="navigation">

                    <ul class="nav navbar-nav">
                      <li>
                        <a href="/home">Whatsup</a>
                      </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="/logout">Log out&nbsp&nbsp&nbsp&nbsp</a>
                      </li>                      
                    </ul>
                    </nav>
                </div>
                <!-- /top nav -->
              
                <div class="padding">
                    <div class="full col-sm-9">
                         {% for post in allposts %}
                        <!-- content -->                      
                        <div class="row">
                          
                         <!-- main col left --> 

                          <!-- main col right -->
                          <div class = 'col-sm-2'></div>
                          <div class="col-sm-8">
                               <div class="panel panel-default">
                                 <div class="panel-heading">
                                  <div class = 'row'>
                                    <div class = 'col-md-8'>
                                      <h4>{{post.title}}</h4>
                                    </div>
                                    <div class = 'col-md-4' style = 'font-size:25px;'><a href = '/viewuser/{{post.loginid}}'>{{post.fname}}&nbsp{{post.lname}}</a>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="panel-body">
                                    {% if post.postimage %}
                                    <div class="clearfix"><img src = '{{post.postimage.url}}' style = 'max-height:100%;max-width:100%;'></div><hr>
                                    {% endif %}
                                   <div class="clearfix">{{post.posttext}}</div>
                                    <hr>
                                   <div class = 'row'>
                                      <div class = 'col-md-6'>
                                          <button class = 'btn btn-success btn-md'>{{post.upcount}}</button>
                                          upvotes&nbsp&nbsp
                                        <button class = 'btn btn-danger btn-md'>{{post.downcount}}</button>
                                        downvotes
                                      </div>
                                      <div class = 'col-md-2'></div>
                                     <div class = 'col-md-2'>
                                        <a href = '/viewpost/{{post.pid}}' class = 'btn btn-default btn-md'>View Post</a>
                                      </div>
                                      {% if curruser.uid == post.uid %}
                                      <div class = 'col-md-2'>
                                        <a href = '/deletepost/{{post.pid}}' class = 'btn btn-danger btn-md'>Delete Post</a>
                                      </div>
                                      {% endif %}
                                    </div>
                                    <hr>

                                    <form method = 'POST' action = '/viewpost/{{post.pid}}'>
                                      {% csrf_token %}
                                    <div class="row">
                                      <div class = 'col-md-10'>
                                        {{ commentform | bootstrap }}
                                      </div>
                                      <div class = 'col-md-2'><br>
                                        <input type = 'submit' class = 'btn btn-md btn-success' value = 'Comment'>
                                      </div>
                                    </div>
                                    </form>
                                    



                                {% for key,commentarray in commentdict.items %}
                                  {% if key == post.pid %}
                                    {% for comment in commentarray %}
                                    <div class = 'well'>
                                      <div class = 'row'>
                                      <div class = 'col-md-9'>
                                        {{ comment.commenttext}}

                                      </div>
                                      {% if comment.uid == user.uid %}
                                      <div class = 'col-md-1'><b>you</b></div>
                                      <div class = 'col-md-1'>
                                        <form method = 'link' action = '/deletecomment/{{comment.cid}}'>
                                          <button type = 'submit' class = 'btn  btn-danger btn-xs'>Delete</button>
                                        </form>
                                      </div>
                                      {% else %}
                                      <div class= 'col-md-3' style = 'text-align:right'>
                                        {{ curruser.fname}} {{curruser.lname}}

                                      </div>
                                      {% endif %}
                                    </div>
                                  </div>
                                   {% endfor %}
                                   {% endif %}
                                   {% endfor %}








                                  </div>
                               </div>
                            
                          </div>
                       </div><!--/row-->
                      
                          {% endfor %}
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>

  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="../../static/files/js/bootstrap.min.js"></script>
    <script src="./../static/files/js/homescripts.js"></script>
  </body>
</html>