{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="../../static/files/css/bootstrap.min.css" rel="stylesheet">

		<link href="../../static/files/css/homestyle.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
	<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css
' rel='stylesheet' type='text/css'>

	</head>
	<body>
<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
                      
          
            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
              
              	<ul class="nav">
          			<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
            	</ul>
               
                <ul class="nav hidden-xs" id="lg-menu">
                    <li ><a href="/home"><i class="fa fa-home"></i>&nbspHome</a></li>
                    <li><a href="/discover"><i class="fa fa-line-chart"></i> &nbsp&nbspDiscover </a></li>
                    <li><a href="/myposts"><i class="fa fa-user"></i> &nbspMy Posts </a></li>
                    <li><a href="/home"><i class="fa fa-refresh"></i> &nbspRefresh </a></li>
                </ul>
                         
            </div>
            <!-- /sidebar -->
          
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                
                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">  
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">W</a>
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">

                    <ul class="nav navbar-nav">
                      <li>
                        <a href="#">Whatsup</a>
                      </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="/logout">Log out&nbsp&nbsp&nbsp&nbsp</a>
                      </li>                      
                    </ul>
                  	</nav>
                </div>
                <!-- /top nav -->
              
                <div class="padding">
                    <div class="full col-sm-9">
                      
                        <!-- content -->                      
                      	<div class="row">
                          
                         <!-- main col left --> 
                         <div class="col-sm-5">
                           
                              <div class="panel panel-default">
                                <div class="panel-thumbnail">
                                {% if curruser.userimage %}
                     			   <img src="{{curruser.userimage.url}}" style = 'border-radius:25px;' width="100px" height="100px">
								            </div>
                                {% else %}
                             <img src="../../static/files/images/profilepic.jpg" style = 'border-radius:25px;' width="100px" height="100px">
                            </div>
                                {% endif %}
                                <div class="panel-body">
                                  <p class="lead">{{ curruser.fname }}</p>
                                  <p>{{followcount}} Followers, Following {{followingcount}} users, {{count}} Posts</p>
                                  
                                  <p>
                                   </p>
                                </div>
                              </div>


                           
                              <div class="well"> 
                                   <form class="form-horizontal" role="form" enctype= 'multipart/form-data' method = 'POST' action = '/home'>{% csrf_token %}
                                    <h3>What is up?</h3>
                                    <div class = 'row'>
                                    	<div class = 'col-md-1'></div>
                                    	<div class = 'col-md-10'>
                                    		{{ postform | bootstrap }}
                                    	</div>
                                    </div>
                                    <input type = 'submit' class="btn btn-primary pull-right" value = 'upload'><br><br>

                                  </form>
                              </div>



 



                              <div class="panel panel-default">
                                 <div class="panel-heading"><h4>View Friends</h4></div>
                                  <div class="panel-body">
  
                                    <div class="clearfix"></div>

                                    {{ friends }}
                                    </div>
                              </div>
                           
                            
                          </div>
                          
                          <!-- main col right -->
                          {% for post in allposts %}
                          <div class = 'col-sm-5'></div>
                          <div class="col-sm-7">
                               <div class="panel panel-default">
                                 <div class="panel-heading">
                                 	<div class = 'row'>
                                 		<div class = 'col-md-8'>
                                 			<h4>{{post.title}}</h4>
                                 		</div>
                                 		<div class = 'col-md-4'style = 'font-size:25px;'><a href = '/viewuser/{{post.loginid}}'>{{post.fname}}&nbsp{{post.lname}}</a></div>

                                 	</div>
                                 </div>
                                  <div class="panel-body">
                                    {% if post.postimage %}
                                    <div class="clearfix"><img src = '{{post.postimage.url}}' style = 'max-height:100%;max-width:100%;'></div><hr>
                                    {% endif %}
                                    <div class="clearfix">{{post.posttext}}</div>
                                    <hr>
                                    {% for index, value in votevalue.items %}
                                    {% if index == post.pid %}
                                     {% if value == 1%}
                                   <div class = 'row'>
                                      <div class = 'col-md-2'>  
                                        <form method = 'link' action = '/upvotepost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-success btn-md' value = '{{post.upcount}}'>
                                          up
                                        </form>
                                        </div>
                                        <div class = 'col-md-3'>
                                        <form method = 'link' action = '/downvotepost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-default btn-md' value = '{{post.downcount}}'>
                                        down
                                        </form>
                                      </div>
                                      <div class = 'col-md-2'></div>
                                      <div class = 'col-md-2'>
                                        <form method = 'link' action = '/viewpost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-sm btn-default' value = "View Post">
                                        </form>
                                      </div>
                                      {% if curruser.uid == post.uid %}
                                      <div class = 'col-md-2'>
                                       <form method = 'link' action = '/deletepost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-danger btn-sm' value = 'Delete Post'>
                                        </form>
                                      </div>
                                      {% endif %}
                                    </div>
                                    {% elif value == -1 %}
                                  <div class = 'row'>
                                      <div class = 'col-md-2'>  
                                        <form method = 'link' action = '/upvotepost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-default btn-md' value = '{{post.upcount}}'>
                                          up
                                        </form>
                                        </div>
                                        <div class = 'col-md-3'>
                                        <form method = 'link' action = '/downvotepost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-danger btn-md' value = '{{post.downcount}}'>
                                        down
                                        </form>
                                      </div>
                                    <div class = 'col-md-2'></div>
                                      <div class = 'col-md-2'>
                                        <form method = 'link' action = '/viewpost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-sm btn-default' value = "View Post">
                                        </form>
                                      </div>
                                      {% if curruser.uid == post.uid %}
                                      <div class = 'col-md-2'>
                                        <form method = 'link' action = '/deletepost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-danger btn-sm' value = 'Delete Post'>
                                        </form>
                                      </div>
                                      {% endif %}
                                    </div>
                                   {% elif value == 0 %}
                                  <div class = 'row'>
                                      <div class = 'col-md-2'>  
                                        <form method = 'link' action = '/upvotepost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-default btn-md' value = '{{post.upcount}}'>
                                          up
                                        </form>
                                        </div>
                                        <div class = 'col-md-3'>
                                        <form method = 'link' action = '/downvotepost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-default btn-md' value = '{{post.downcount}}'>
                                        down
                                        </form>
                                      </div>
                                    <div class = 'col-md-2'></div>
                                      <div class = 'col-md-2'>
                                        <form method = 'link' action = '/viewpost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-sm btn-default' value = "View Post">
                                        </form>
                                      </div>
                                      {% if curruser.uid == post.uid %}
                                      <div class = 'col-md-2'>
                                        <form method = 'link' action = '/deletepost/{{post.pid}}'>
                                          <input type = 'submit' class = 'btn btn-danger btn-sm' value = 'Delete Post'>
                                        </form>
                                      </div>
                                      {% endif %}
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}

                                    <hr>


                                    <form method = 'POST' action = '/viewpost/{{post.pid}}'>
                                      {% csrf_token %}
                                    <div class="row">
                                      <div class = 'col-md-10'>
                                        {{ commentform | bootstrap }}
                                      </div>
                                      <div class = 'col-md-2'><br>
                                        <input type = 'submit' class = 'btn btn-md btn-success' value = 'Comment'>
                                      </div>
                                    </div>
                                    </form>
                                    

                                {% for key,commentdict in mastercomment.items %}
                                  {% if key == post.pid %}
                                    {% for comment in commentdict %}
                                    <div class = 'well'>
                                      <div class = 'row'>
                                      <div class = 'col-md-9'>
                                        {{ comment.commenttext}}

                                      </div>
                                      {% if comment.uid == curruser.uid %}
                                      <div class = 'col-md-1'><b>you</b></div>
                                      <div class = 'col-md-1'>
                                        <form method = 'link' action = '/deletecomment/{{comment.cid}}'>
                                          <button type = 'submit' class = 'btn  btn-danger btn-xs'>Delete</button>
                                        </form>
                                      </div>
                                      {% else %}
                                      <div class= 'col-md-3' style = 'text-align:right'>
                                        {{ post.fname}} {{post.lname}}

                                      </div>
                                      {% endif %}
                                    </div>
                                  </div>
                                  {% endfor %}
                                  {% endif %}
                                  {% endfor %}

                                  </div>
                               </div>
                            
                          </div>

                          {% endfor %}
                       </div><!--/row-->
                      
                         
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="../../static/files/js/bootstrap.min.js"></script>
		<script src="./../static/files/js/homescripts.js"></script>
	</body>
</html>