{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="../../static/files/css/bootstrap.min.css" rel="stylesheet">

		<link href="../../static/files/css/homestyle.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
	<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css
' rel='stylesheet' type='text/css'>

	</head>
	<body>
<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
                      
          
            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
              
              	<ul class="nav">
          			<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
            	</ul>
               
                <ul class="nav hidden-xs" id="lg-menu">
                    <li ><a href="/home"><i class="fa fa-home"></i>&nbspHome</a></li>
                    <li><a href="/discover"><i class="fa fa-line-chart"></i> &nbsp&nbspDiscover </a></li>
                    <li><a href="/myposts"><i class="fa fa-user"></i> &nbspMy Posts </a></li>
                </ul>
              
            </div>
            <!-- /sidebar -->
          
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                
                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">  
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">W</a>
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">

                    <ul class="nav navbar-nav">
                      <li>
                        <a href="/home">Whatsup</a>
                      </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="/logout">Log out&nbsp&nbsp&nbsp&nbsp</a>
                      </li>                      
                    </ul>
                  	</nav>
                </div>
                <!-- /top nav -->
              
                <div class="padding">
                    <div class="full col-sm-9">
                      
                        <!-- content -->                      
                      	<div class="row">
                          
                         <!-- main col left --> 


                          <!-- main col right -->
                          <div class = 'col-sm-2'></div>
                          <div class="col-sm-8">
                               <div class="panel panel-default">
                                 <div class="panel-heading">
                                  <div class = 'row'>
                                   <div class = 'col-md-12' style = 'font-size:25px;'>{{post.fname}}&nbsp{{post.lname}}
                                    </div>
                                  </div>
                                  </div>
                                  <div class="panel-body">
                                    <div class - 'row'>
                                      <h2>{{post.title}}</h2><br><br>
                                    </div>
                                    {% if post.postimage %}
                                    <div class="clearfix"><img src = '/{{post.postimage.url}}' style = 'max-height:100%;max-width:100%;'></div><hr>
                                    {% endif %}
                                   <div class="clearfix">{{post.posttext}}</div>
                                    <hr>
                                    <div class = 'row'>
                                      <div class = 'col-md-2'>
                                        <form method = 'POST' action = '/upvotepost/{{post.pid}}' id = 'uppost'>
                                          {% csrf_token %}
                                          {% if votevalue == 1%}
                                          <input id ='uppost' type = 'submit' class = 'btn btn-md btn-success' value = '{{post.upcount}}'>
                                          {% else %}
                                          <input id ='uppost' type = 'submit' class = 'btn btn-md btn-default' value = '{{post.upcount}}'>
                                          {% endif %}
                                          <i class="fa fa-thumbs-up"></i>
                                        </form>
                                      </div>
                                      <div class = 'col-md-2'>
                                        <form method  'POST' action = '/downvotepost/{{post.pid}}' id = 'downpost'>
                                          {% csrf_token %}
                                          {% if votevalue == -1 %}
                                          <input type = 'submit' class = 'btn btn-md btn-danger' value = '{{post.downcount}}'>
                                          {% else %}
                                          <input type = 'submit' class = 'btn btn-md btn-default' value = '{{post.downcount}}'>
                                          {% endif %}
                                          <i class="fa fa-thumbs-down"></i>
                                        </form>
                                      </div>
                                      <div class = 'col-md-5'></div>
                                        <div class = 'col-md-3'>
                                          {% if curruser.uid == postuser.uid %}
                                            <div class = 'col-md-2'>
                                              <a href = '/deletepost/{{post.pid}}' class = 'btn btn-md btn-danger'>Delete Post</a>
                                              </div>
                                          {% endif %}
                                        </div>
                                    </div>

                                    <hr>

                                    <form method = 'POST' action = '/addcomment/{{post.pid}}'>{% csrf_token %}

                                    <div class="row">
                                      <div class = 'col-md-9'>
                                        {{ commentform | bootstrap }}
                                      </div>
                                      <div class = 'col-md-2'><br>
                                        <input type = 'submit' class = 'btn btn-md btn-success' value = 'Comment'>
                                      </div>
                                      <div class = 'col-md-1'></div>
                                    </div>
                                    </form>
                                    
                                    {% for comment in allcomments %}
                                    <div class = 'well'>
                                      <div class = 'row'>
                                        <div class = 'col-md-2'>
                                          <div class = 'row'>
                                            <div class = 'col-md-6'>
                                              <form method = 'POST' action = '/upvotecomment/{{comment.cid}}' id = 'upcomment{{comment.cid}}'>
                                                {% csrf_token %}
                                                {% for commentid,commentvotevalue in allcommentvotes.items %}
                                                  {% if commentid == comment.cid %}
                                                    {% if commentvotevalue == 1 %} 
                                                      <input type = 'submit' class = 'btn btn-md btn-success' value = '{{comment.upcount}}'>
                                                    {% else %}
                                                     <input type = 'submit' class = 'btn btn-md btn-default' value = '{{comment.upcount}}'>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endfor %}
                                              </form>
                                            </div>
                                            <div class = 'col-md-4'>
                                              <form method = 'POST' action = '/downvotecomment/{{comment.cid}}' id = 'downcomment{{comment.cid}}'>
                                                {% csrf_token %}
                                                {% for commentid,commentvotevalue in allcommentvotes.items %}
                                                  {% if commentid == comment.cid %}
                                                    {% if commentvotevalue == -1 %} 
                                                      <input type = 'submit' class = 'btn btn-md btn-danger' value = '{{comment.downcount}}'>
                                                    {% else %}
                                                     <input type = 'submit' class = 'btn btn-md btn-default' value = '{{comment.downcount}}'>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endfor %}
                                             </form>
                                            </div>
                                          </div>
                                        </div>
                                      <div class = 'col-md-7'>
                                        {{ comment.commenttext }}
                                      </div>
                                      {% if comment.uid == curruser.uid %}
                                      <div class = 'col-md-1'><b>you</b></div>
                                      <div class = 'col-md-1'>
                                        <form method = 'link' action = '/deletecomment/{{comment.cid}}'>
                                          <button type = 'submit' class = 'btn  btn-danger btn-xs'>Delete</button>
                                        </form>
                                      </div>
                                      {% else %}
                                      <div class= 'col-md-3' style = 'text-align:right'>
                                        {{ comment.fname}} {{comment.lname}}
                                      </div>
                                      {% endif %}
                                    </div>
                                  </div>
                                    {% endfor %}
                                    
                                  </div>
                               </div>
                            
                          </div>

                       </div><!--/row-->
                      
                         
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="../../static/files/js/bootstrap.min.js"></script>
		<script src="./../static/files/js/homescripts.js"></script>

<!-- upvote downvote post ajax -->
    <script>                                            
      $("#uppost").submit(function(e)
      {
          formurl = $(this).attr("action");
          $.ajax(
          {
            url : formurl,
            type : "POST",
            data : 
            {
            "csrfmiddlewaretoken" : $("#uppost input[name=csrfmiddlewaretoken]").val(),
            },
            success:function(data, textStatus, jqXHR)
            {

              if( $("#uppost input[type=submit]").attr('class') == "btn btn-md btn-success")
              {
                $("#uppost input[type=submit]").attr('class','btn btn-md btn-default');
              }
              else
              {
                $("#downpost input[type=submit]").attr('class','btn btn-md btn-default');
                $("#uppost input[type=submit]").attr('class','btn btn-md btn-success');
              }
              $("#uppost input[type=submit]").val(data['upcount']);
              $("#downpost input[type=submit]").val(data['downcount']);


            },
            error:function(jqXHR, textStatus, errorThrown)
            {
              alert("server is down, please try after some time")
              alert(errorThrown)
            }
          });

          e.preventDefault();
          e.unbind();
      });

      $("#downpost").submit(function(e)
      {
          formurl = $(this).attr("action");
          $.ajax(
          {
            url : formurl,
            type : "POST",
            data : 
            {
            "csrfmiddlewaretoken" : $("#downpost input[name=csrfmiddlewaretoken]").val(),
            },
            success:function(data, textStatus, jqXHR)
            {

              if( $("#downpost input[type=submit]").attr('class') == "btn btn-md btn-danger")
              {
                $("#downpost input[type=submit]").attr('class','btn btn-md btn-default');
              }
              else
              {
                $("#downpost input[type=submit]").attr('class','btn btn-md btn-danger');
                $("#uppost input[type=submit]").attr('class','btn btn-md btn-default');
              }
              $("#uppost input[type=submit]").val(data['upcount']);
              $("#downpost input[type=submit]").val(data['downcount']);

            },
            error:function(jqXHR, textStatus, errorThrown)
            {
              alert("server is down, please try after some time")
              alert(errorThrown)
            }
          });

          e.preventDefault();
          e.unbind();
      });

    </script


	</body>
</html>