{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="../../static/files/css/bootstrap.min.css" rel="stylesheet">

		<link href="../../static/files/css/homestyle.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
	<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css
' rel='stylesheet' type='text/css'>

	</head>
	<body>
<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
                      
          
            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
              
              	<ul class="nav">
          			<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
            	</ul>
               
                <ul class="nav hidden-xs" id="lg-menu">
                    <li ><a href="/home"><i class="fa fa-home"></i>&nbspHome</a></li>
                    <li><a href="/discover"><i class="fa fa-line-chart"></i> &nbsp&nbspDiscover </a></li>
                    <li><a href="/myposts"><i class="fa fa-user"></i> &nbspMy Posts </a></li>
                    <li><a href="/home"><i class="fa fa-refresh"></i> &nbspRefresh </a></li>
                </ul>
                         
            </div>
            <!-- /sidebar -->
          
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                
                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">  
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">W</a>
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">

                    <ul class="nav navbar-nav">
                      <li>
                        <a href="/home">Whatsup</a>
                      </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="/logout">Log out&nbsp&nbsp&nbsp&nbsp</a>
                      </li>                      
                    </ul>
                  	</nav>
                </div>
                <!-- /top nav -->
              
                <div class="padding">
                    <div class="full col-sm-9">
                      
                        <!-- content -->                      
                      	<div class="row">
                          
                         <!-- main col left --> 
                         <div class="col-sm-5">
                           
                              <div class="panel panel-default">
                                <div class="panel-thumbnail">
                     			   <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="100px" height="100px">
								</div>
                                <div class="panel-body">
                                  <p class="lead">{{ newuser.fname }}&nbsp{{ newuser.lname }}</p>
                                  <p>45 Followers, {{count}} Posts</p>
                                  
                                  <p>
                                   </p>
                                </div>
                              </div>
                          
                          </div>
                          
                          <!-- main col right -->
                          {% for post in allposts %}
                          <div class = 'col-sm-5'></div>
                          <div class="col-sm-7">
                               <div class="panel panel-default">
                                 <div class="panel-heading">
                                 	<div class = 'row'>
                                 		<div class = 'col-md-8'>
                                 			<h4>{{post.title}}</h4>
                                 		</div>

                                 	</div>
                                 </div>
                                  <div class="panel-body">
                                    <img src="//placehold.it/150x150" class="img-circle pull-right"> 
                                    {% if post.postimage %}
                                    <div class="clearfix"><img src = '{{path}}{{post.postimage.url}}'></div>
                                    {% endif %}
                                    <div class="clearfix">{{post.posttext}}</div>
                                    <hr>
                                    <div class = 'row'>
                                    	<div class = 'col-md-6'>
                                      		<button class = 'btn btn-success'>{{post.upcount}}</button>
                                      		upvotes&nbsp&nbsp
                                     		<button class = 'btn btn-danger'>{{post.downcount}}</button>
                                     		downvotes
                                     	</div>
                                     	<div class = 'col-md-3'></div>
                                     	<div class = 'col-md-3' style = 'font-size:20px;'></div>

                                     </div>

                                    <hr>
                                    <form>
                                    <div class="input-group">
                                      <div class="input-group-btn">
                                      <button class="btn btn-success">+1</button><button class="btn btn-danger">-1</button>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Add a comment..">
                                    </div>
                                    </form>
                                    
                                  </div>
                               </div>
                            
                          </div>

                          {% endfor %}
                       </div><!--/row-->
                      
                         
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="../../static/files/js/bootstrap.min.js"></script>
		<script src="./../static/files/js/homescripts.js"></script>
	</body>
</html>